body{
    background: url("images/Backgrounds/mainpage.jpg");
    background-size: cover;
    color: #000000; 
}
.link { color: #353930 }
.leftimg {
    float:left;
    margin: 0 10px 10px 0;
}
.rightimg  {
    float: right;
    margin: 0 0 10px 10px;
}
.center-img {
    display: block;
    margin: 0 auto;
}